<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="5.3.311" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data" version="2.3.311" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services" version="2.3.311" targetFramework="net461" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net461" />
  <package id="ServiceFabric.ServiceBus.Clients" version="4.3.0" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.1.608" targetFramework="net461" />
  <package id="WindowsAzure.ServiceBus" version="3.4.2" targetFramework="net461" />
</packages>