<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric" version="5.3.311" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data" version="2.3.311" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services" version="2.3.311" targetFramework="net461" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="ServiceFabric.ServiceBus.Clients" version="4.3.0" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.1.608" targetFramework="net461" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net461" />
  <package id="WindowsAzure.ServiceBus" version="3.4.2" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="6.0.0" targetFramework="net461" />
  <package id="xunit" version="2.2.0-beta4-build3444" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net461" />
  <package id="xunit.assert" version="2.2.0-beta4-build3444" targetFramework="net461" />
  <package id="xunit.core" version="2.2.0-beta4-build3444" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.2.0-beta4-build3444" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.2.0-beta4-build3444" targetFramework="net461" />
  <package id="xunit.runner.console" version="2.2.0-beta4-build3444" targetFramework="net461" developmentDependency="true" />
  <package id="xunit.runner.visualstudio" version="2.2.0-beta4-build1194" targetFramework="net461" developmentDependency="true" />
</packages>